---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
...
